//- https://www.geeksforgeeks.org/express-js-res-render-function/
//- doctype html 
//- html
//-   head 
//-     title Natours | #{tour}
//-     link(rel='stylesheet' href='css/style.css')
//-     link(rel='shortcut icon' type='image/png' href='img/favicon.png')

//-   body 
//-     h1= tour 
//-     h2=user.toUpperCase()
//-     //- h2 the great day 

//-     - const x=9;
//-     h2=2*x

//-     p this is a text

doctype html 
html
  head
    block head
      meta(charset='UTF-8' )
      meta(name='viewport' content='width=device-width, initial-scale=1.0' )
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      title Natours | #{title} | Exciting tours for adventurous people 

    body 
      // HEADER 
      include _header

      // CONTENT 
      block content 
        //- this is overwritten by the 'extends' 
        h1 This is a placeholder heading

      // FOOTER
      include _footer

      //- script(src='/js/mapbox.js')
      //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js')
      //- script(src='/js/login.js')
      script(src="https://js.stripe.com/v3/")
      script(src='/js/bundle.js')


